.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 150px;
  align-items: center;
  padding: 20px;
}

.endingMsg {
  font-size: 2.5rem;
  font-family: Manrope;
  font-weight: bold;
}

.testMessage {
  font-size: 1.5rem;
  font-family: Manrope;
  margin-top: 5px;
  margin-bottom: 30px;
}

.feedBackHeading {
  font-size: 2rem;
  font-weight: bold;
  font-family: Quicksand;
  margin-top: 20px;
  margin-bottom: 10px;
}

.feedBackMsg {
  font-size: 1.2rem;
  font-family: Quicksand;
  font-weight: 500;
}

.stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.feedBackStarMsg {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Quicksand;
  margin-bottom: 10px;
}

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  position: relative;
}

.rating0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: 0.3s;
  margin: 5px;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.feedback {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.feedBackInput {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.feedBackInput label {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Quicksand;
  margin-bottom: 10px;
}

.feedBackInput textarea {
  resize: none;
  border: none;
  background-color: rgb(234, 255, 234);
  padding: 8px;
  font-size: 1.1rem;
  color: black;
  border: 1px solid rgb(175, 243, 175);
}

.feedBackInput textarea:focus {
  outline: none;
}

.submitBtn {
  border: none;
  margin-top: 20px;
  margin-right: auto;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  color: white;
  background-color: rgb(1, 43, 1);
  font-family: Quicksand;
  cursor: pointer;
}

@media (max-width: 450px) {
  .endingMsg {
    font-size: 1.8rem;
  }
  .testMessage {
    font-size: 1.3rem;
  }
  .feedBackHeading {
    font-size: 1.7rem;
  }
  .feedBackMsg {
    font-size: 1.1rem;
    text-align: center;
  }
  .feedBackStarMsg {
    text-align: center;
  }
  .rating > label {
    height: 50px;
    width: 50px;
  }
}
