.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 7px 3px;
  align-items: center;
  box-shadow: 0px 1px 3px #888888;
}

.brandLogo {
  font-size: 2.2rem;
  font-family: Playfair Display;
  color: rgb(2, 58, 2);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.brandLogo img {
  object-fit: contain;
  width: 150px;
}

.menuItem {
  display: flex;
  justify-content: space-around;
  width: 250px;
}

.item {
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: bold;
  font-family: Manrope;
  color: rgb(1, 49, 1);
}

.item:hover {
  color: lightgreen;
}

@media (max-width: 500px) {
  .brandLogo {
    height: 40px;
  }
  .brandLogo img {
    width: 120px;
  }
  .menuItem {
    width: 120px;
    margin-right: 10px;
    justify-content: space-between;
  }
  .item {
    font-size: 1rem;
  }
}
